
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; 
  font-family: Arial, sans-serif;
  
}
.App {
  height: 100vh; 
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden; 
  background-image: url("/public/ima3.jpg ");
  background-repeat: no-repeat;
  background-size: cover;
  
}


.top-bar {
  position: absolute;
  top: 10px;
  right: 20px;
}

.profile-icon-top {
  font-size: 30px;
  cursor: pointer;
}

.profile-box {
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 8px;
}

.logout-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}


.home-container {
  margin-top: 60px;
  flex: 1;
  overflow-y: auto;
}


.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color:rgba(255, 255, 255, 0.50);
  cursor: pointer;
  transition: background-color 0.3s;
}

/* .card:hover {
  background-color: #e6faff;
} */

.card-left {
  font-weight: bold;
  font-size: 1.2rem;
}

.card-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 12px;
  font-weight: bold;
}


.circular-chart {
  width: 40px;
  height: 40px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle-progress {
  fill: none;
  stroke: #000;
  stroke-width: 3.8;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: center;
  transition: stroke-dasharray 0.3s;
}

.percentage-text {
  fill: #000;            
  font-size: 10px;        
  font-weight: bold;
  text-anchor: middle;
}